
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #ffffff;
  --text-color: #111013;
  --other-color: #999fb9;
  --big-font: 4.8rem;
  --h2-font: 3.2rem;
  --p-font: 1rem;
}
body {
  color: var(--text-color);
  background: var(--bg-color);
}
header {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 25px 18%;
  z-index: 1000;
  transition: all 0.35s ease;
}
.logo img {
  max-width: 60%;
  width: 100px;
  height: auto;
  margin-left: 5px;
}
.navbar {
  display: flex;  
  margin-right: 450px;
  margin-left: 30px;
}
.navbar a {
  display: inline-block;
  color: #2f2c2c;
  padding: 10px 22px;
  border: none;
  font-size: 17px;
  font-weight: 700;
  margin: 20px;
}
.navbar a:hover {
  border-bottom: 3px solid rgb(11, 11, 205);
}
.navbar a.active {
  color: var(--main-color);
}
.navbar a.cart {
  font-size: 30px;
}

/*menu*/
#menu-icon {
  color: var(--text-color);
  font-size: 40px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 80px 18%;
}

header.sticky {
  background: #fff;
  padding: 12px 18%;
  box-shadow: 0px 0px 1px #13084982;
}



/*User*/
.profile {
  position: relative;
  padding: 10px 28px;
  margin-right: -23px;
}

.profile .profile_dd:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 15px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}
.profile .icon_wrap {
  display: flex;
  align-items: center;
}
.profile .name {
  display: inline-block;
  margin: 0 10px;
}

.profile .profile_dd:before {
  rigth: 10px;
}

.profile .profile_dd ul li {
  border-bottom: 1px solid #f1f2f4;
}

.profile .profile_dd ul li a {
  display: block;
  padding: 15px 35px;
  position: relative;
  color: #111013;
}

.profile .profile_dd ul li a:hover {
  color: #F9A33F;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.profile.active .profile_dd {
  display: block;
  
}
.icon_wrap {
  cursor: pointer;
}


.profile .profile_dd {
  position: absolute;
  top: 48px;
  right: 9px;
  user-select: none;
  background: #fff;
  width: 165px;
  height: auto;
  display: none;
  border-radius: 12px;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.125),
    -10px -10px 35px rgba(0, 0, 0, 0.125);
}

.profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}


.grid {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;
}


.container{padding-top:10px; color:#000;}

/*responsive using media queries*/
@media screen and (max-width: 600px) {
  .row {
    flex-basis: 100%;
  }
}


@media (max-width: 1640px) {
  
  header {
    padding: 14px 3%;
    transition: 0.3s;
  }
  header.sticky {
    padding: 10px 3%;
    transition: 0.3s;
  }
  section {
    padding: 70px 3%;
    transition: 0.3s;
  }
}

@media (max-width: 1110px) {
  #menu-icon {
    display: block;
  }
  .top-btn {
    display: none;
  }
  .navbar {
    position: absolute;
    top: -700px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: #F9A33F;
    align-items: flex-start;
    box-shadow: 0px 0px 1px #13084982;
    transition: all 0.4s ease;
    width: 85%;
  }
  .navbar a {
    display: block;
    padding: 0.8rem;
    margin: 0.5rem;
  }
  .navbar.open {
    top: 100%;
  }
}

@media (max-width: 1090px) {
  :root {
    --big-font: 3.7rem;
    --h2-font: 2.6rem;
    --p-font: 1rem;
    transition: 0.3s;
  }
}

@media (max-width: 880px) {
  .home {
    height: 75vh;
    padding-top: 100px;
  }
  section {
    padding: 80px 3%;
  }
  :root {
    --big-font: 3.2rem;
    --h2-font: 2.2rem;
  }
}



@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}



/*content*/
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 
}

/* Add some padding inside the card container */
.card-heading {
  background-color: #005A9C;
  color: white;
  height: 40px;
  border-radius: 3px solid black;
}

/*heading/title*/
.card-content {
  color: #111013;
  background-color: #e3e4ea;
  height: auto;
  border-radius: 3px solid black;
  word-spacing: 30%;
  font-family: Arial, sans-serif;
}
.card-heading h1{
  padding: 10px 10px 0 40px;
  font-size: 16px;
  word-spacing: 12%;
}
.card-content p{
  padding: 10px 10px 15px 15px;
}

/*pop up messages*/
.button {
  display: inline-block;
  padding: 15px 20px;
  color: rgb(212, 199, 199);
  background: rgb(209, 73, 24);
  transition: background 150ms ease-out;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 6px 8px 15px rgba(0, 0, 0, 0.6);
 
}
.button a{
  color: white;
}
.button:hover, .button:active {
  background: rgb(232, 72, 13);
  transition: background 250ms ease-out;
}

/*Pop up messages*/

.modal {
  position: fixed;
  z-index: 20;
  max-width: 85%;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  opacity: 1;
  transition: margin-top 150ms ease-out, opacity 150ms ease-out;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}
@media screen and (max-height: 500px) {
  .modal {
    width: 80%;
  }
}
.modal__toggler {
  display: none;
}
.modal__toggler:not(:checked) ~ .modal {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  opacity: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  margin-top: -10px;
}
.modal__toggler:not(:checked) ~ .modal__mask {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  opacity: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.modal__mask {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 150ms ease-out;
  background: RGBA(0, 0, 0, 0.7);
  cursor: pointer;
}
.modal__close::after {
  content: "✕";
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.modal__title {
  margin: 0;
}
.modal__content {
  color: white;
  padding: 30px;
  max-height: 90vh;
  overflow-x: auto;
  border-radius: 12px;
  text-align: center;
  background-color: #005A9C;
}

/*Apply btn for popup sms*/
.applybtn {
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 12px;
  float: right;
  cursor: pointer;
  color: #fff;
  background-color: rgb(209, 73, 24);
  box-shadow: 6px 8px 15px rgba(0, 0, 0, 0.6);
  padding: 15px 40px;
}
.applybtn:hover{
  background-color: rgb(232, 72, 13);
}




/*contact us*/


.container {
  width: 100%;
  margin: 50px auto;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.cart {
  width: 40%;
  background: #fff;
  border: 2px solid #e0d8d8;
  margin-bottom: 50px;
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

.cart-header {
  padding: 5px 10px;
  background-color: #005A9C;
  color: #fff;
  padding: 10px 10px 8px 30px;
  font-size: 14px;  
  border-radius: 10px 10px 0px 0px; 
}


.cart-body {
  padding: 30px 20px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 3px solid black;
}
.cart-body h2{
  padding: 5px 10px;
  font-size: 16px;
}
.cart-body p{
  padding: 5px 10px;
  font-size: 16px;
}

.cart-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.cart:hover {
  transform: scale(1.05);  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 1000px) {
  .cart {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .cart {
    width: 80%;
  }
}


/*user profile*/
.circle-frame {
  background-image: url('https://c3.staticflickr.com/3/2658/4216348783_232f510915_z.jpg');
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-color: tan;
  border: 5px solid brown;
  border-radius: 50%;
  min-width: 15%; /* depends on size of photo & container */
  height: 50px; /* just to reset to default if needed */
  padding-top: 15%; /* must equal min-width to make a circle */
  float: left;
  margin-top: 4%;
  margin-left: 12%;/* or position absolute */
}


/*cont*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');



.table_responsive {
    max-width: 1600px;
    padding: 15px;
    overflow: auto;
    margin: auto;
    border-radius: 4px;
}

table {
    width: 100%;
    font-size: 13px;
    color: #444;
    white-space: nowrap;
    border-collapse: collapse;
}

table>thead {
    background-color: #005A9C;
    color: #fff;
}

table>thead th {
    padding: 15px;
}

table th,
table td {
    border: 1px solid #00000017;
    padding: 10px 15px;
    text-align: center;
}


.action_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action_btn>a {
    text-decoration: none;
    color: #fff;
    background: #005A9C;
    display: inline-block;
    padding: 7px 20px;
    font-weight: bold;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}



.action_btn>a:hover {
    box-shadow: 0 3px 8px #0003;
}


table>tbody>tr {
    background-color: #fff;
    transition: 0.3s ease-in-out;
}


table>tbody>tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

table>tbody>tr:hover{
    filter: drop-shadow(0px 2px 6px #0002);
}


/*profile add*/
#change-image-button {
  display: none;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 45%;
  left:10%;
  color:white;
  font-size: 1em;
  padding-left: 120px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#profile-photo:hover #change-image-button {
  display: block;
}

#profile-photo:hover #profile-src {
opacity: 0.5; 
}

#profile-photo {
  padding: 6px;
  display: block;
  margin-bottom: 10px;
  border-radius: 999999px;
  position: relative;
  max-width:160px;
  max-height:160px;
  border-color: #e2e2e2;
  background-color:#999;
  overflow: hidden;
}

#profile-src {
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  display: block;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  perspective-origin: 80px 80px;
  transform-origin: 80px 80px;
  /* border: 0px none rgb(85, 85, 85); */
  border-radius: 999999px 999999px 999999px 999999px;
  outline: rgb(85, 85, 85) none 0px;
}

/*View Application*/
.btt-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btt {
display: flex;
height: 90px;
padding: 0;
background: #4682b4;
border: none;
outline: none;
border-radius: 8px;
overflow: hidden;
font-family: "Quicksand", sans-serif;
font-size: 16px;
font-weight: 500;
cursor: pointer;
margin: 20px;
}


.btt:hover {
background: #0e7ad3;
}

.btt:active {
background: #006e58;
}
.btt__icon:hover{
  color:rgb(50, 47, 47);
}

.btt__text,
.btt__icon {
display: inline-flex;
align-items: center;
color: #fff;
height: 100%;
padding: 0 50px;
}
.btt__text{
  width: 420px;
  text-align: center;
  padding: 0 170px;
  font-size: 24px;
  word-spacing: 20%;
}
.btt__icon {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  font-size: 1.5em;
  background: #eee8e8;
  color: rgb(94, 89, 89);
  width: 120px;
  border-radius: 8px;
}

.viewapp{
  text-align: center;
  border: 2px solid black;
padding: 20px 20px;
margin:20px 20px;
height:560px;
padding-top: 80px;
}
.textcon h1{
  font-size: 26px;
  font-weight: 300px;
}

@media screen and (max-width: 600px) {
  .btt {
    width: 100%;
  }
}

@media screen and (max-width: 651px) {
  .btt {
    width: 100%;
    overflow: hidden;
    /* padding: 5px 5px; */
    margin-left: -22px;

  }
}
